rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.data.hostId == request.auth.uid
        && request.resource.data.status == 'lobby';
      allow update: if request.auth != null
        && request.auth.uid in resource.data.players.map(p => p['id']);
    }
  }
}
